@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";

:root {
  --creme-elegante: #F6F1EB;
  --rosa-cha: #E8C7C8;
  --verde-pistache: #BFD8B8;
  --azul-acinzentado: #B5CFE1;
  --marrom-cappuccino: #7D5A50;
  --caramelo-claro: #D6A77A;
}

body {
  background-color: var(--creme-elegante);
  color: var(--marrom-cappuccino);
  font-family: 'Red-Hat-Text', sans-serif;
}

header {
  background-color: var(--rosa-cha);
}

button.primary {
  background-color: var(--verde-pistache);
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

button.primary:hover {
  background-color: var(--caramelo-claro);
  color: white;
}

button.secondary {
  background-color: var(--azul-acinzentado);
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}